.mantine-Menu-dropdown {
  position: absolute;
  z-index: 1;
  background-color: var(--mantine-primary-color-9);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 0;
  width: calc(10rem * var(--mantine-scale)) !important;
  :hover {
    background-color: var(--mantine-color-white);
    color: var(--mantine-primary-color-9);
  }
}

.mantine-Menu-item {
  padding: 8px 15px;
  color: var(--mantine-color-gray-1);
  border-radius: 0px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
}
